* {
    padding: 0;
    margin: 0;
}

p {
    font-size: 3rem;
}

a {
    font-size: 2rem;
}

#grab {
    font-size: 3rem;
}

li {
    font-size: 2rem;
}

#stop, #what {
    color: red;
}

#bg {
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    padding: 3vw;
}

.list {
    margin-left: 5vw;
}

#gift {
    font-weight: 1000;
}